<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img
            src="assets/layout/images/{{
                layoutService.config().colorScheme === 'light' ? 'logo' : 'logo'
            }}.png"
            alt="logo"
        />
        <span>KBFCRC</span>
    </a>

    <button
        #menubutton
        class="p-link layout-menu-button layout-topbar-button"
        (click)="layoutService.onMenuToggle()"
    >
        <i class="pi pi-bars"></i>
    </button>

    <button
        #topbarmenubutton
        class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()"
    >
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div
        #topbarmenu
        class="layout-topbar-menu"
        [ngClass]="{
            'layout-topbar-menu-mobile-active':
                layoutService.state.profileSidebarVisible
        }"
    >
        <p-dropdown
            [options]="languages"
            [(ngModel)]="selectedLanguage"
            optionLabel="label"
            optionValue="value"
            (onChange)="changeLanguage(selectedLanguage)"
            placeholder="Select Language"
        />
    </div>
</div>
