<div class="p-fluid">
    <form [formGroup]="form">
        <div class="p-formgrid grid m-0">
            <div class="field col-6">
                <label for="employee">Employee</label>
                <app-employee-select
                    (employeeSelected)="onEmployeeSelected($event)"
                ></app-employee-select>
                <div *ngIf="isFieldInvalid('employee')">
                    <small
                        class="p-error"
                        *ngIf="form.get('employee').errors?.required"
                    >
                        Employee is required.
                    </small>
                </div>
            </div>
            <div class="field col-6">
                <label for="start_date">Start Date</label>
                <p-calendar
                    formControlName="start_date"
                    placeholder="Select start date"
                    dateFormat="dd-mm-yy"
                    appendTo="body"
                    [disabledDates]="disabledDates"
                ></p-calendar>
                <div *ngIf="isFieldInvalid('start_date')">
                    <small
                        class="p-error"
                        *ngIf="form.get('start_date').errors?.required"
                    >
                        Start Date is required.
                    </small>
                </div>
            </div>
            <div class="field col-6">
                <label for="role">End Date</label>
                <p-calendar
                    formControlName="end_date"
                    placeholder="Select start time"
                    dateFormat="dd-mm-yy"
                    appendTo="body"
                    [minDate]="form.get('start_date')?.value"
                    [readonlyInput]="true"
                    [disabledDates]="disabledDates"
                ></p-calendar>
                <div *ngIf="isFieldInvalid('end_date')">
                    <small
                        class="p-error"
                        *ngIf="form.get('end_date').errors?.required"
                    >
                        End Date selection is required.
                    </small>
                </div>
            </div>

            <div class="field col-6">
                <label for="timesheet_status">Time Sheet Status</label>
                <div>
                    <p-dropdown
                        [options]="LeaveStatuses"
                        formControlName="status"
                        optionLabel="header"
                        optionValue="field"
                        placeholder="Select Status"
                        appendTo="body"
                        [ngClass]="{
                            'ng-invalid ng-dirty': isFieldInvalid('status')
                        }"
                    >
                    </p-dropdown>
                </div>

                <div class="error-message">
                    <ng-container *ngIf="isFieldInvalid('status')">
                        <small
                            class="p-error"
                            *ngIf="form.get('status').errors?.required"
                        >
                            Status selection is required.
                        </small>
                    </ng-container>
                </div>
            </div>

            <div class="field col-6">
                <label for="timesheet_status">Leave Type</label>
                <div>
                    <p-dropdown
                        [options]="LeaveTypes"
                        formControlName="leave_type"
                        optionLabel="header"
                        optionValue="field"
                        placeholder="Select Leave Type"
                        appendTo="body"
                        [ngClass]="{
                            'ng-invalid ng-dirty': isFieldInvalid('leave_type')
                        }"
                    >
                    </p-dropdown>
                </div>

                <div class="error-message">
                    <ng-container *ngIf="isFieldInvalid('leave_type')">
                        <small
                            class="p-error"
                            *ngIf="form.get('leave_type').errors?.required"
                        >
                            Leave Type selection is required.
                        </small>
                    </ng-container>
                </div>
            </div>
        </div>
    </form>
</div>
<p-footer class="flex justify-content-between mt-3">
    <button
        class="p-button-primary p-button-sm"
        pButton
        label="Save"
        icon="pi pi-check"
        type="submit"
        [disabled]="form.invalid"
        (click)="onSave()"
    ></button>
    <button
        class="p-button-secondary p-button-sm"
        pButton
        label="Cancel"
        icon="pi pi-times"
        type="button"
        (click)="onCancel()"
    ></button>
</p-footer>
