<div class="grid">
    <div class="col-12">
        <h1 class="text-primary">Time Sheets</h1>
        <div class="card">
            <div class="card">
                <app-employee-select
                    (employeeSelected)="onEmployeeSelected($event)"
                ></app-employee-select>
            </div>
            <p-table
                [paginator]="true"
                [showCurrentPageReport]="true"
                [lazy]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} timesheets"
                [totalRecords]="totalRecords"
                [rows]="rowsPerPage"
                [value]="items"
                [loading]="loading"
                (onLazyLoad)="loadItems($event)"
                >>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <p-button
                                (click)="openDialog('create')"
                                [rounded]="true"
                                type="button"
                                icon="pi pi-plus"
                            ></p-button>
                        </th>
                        <th *ngFor="let col of columns">
                            {{ col.header }}
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        <td></td>
                        <td>
                            {{
                                rowData?.employee?.firstname
                                    ? rowData.employee.firstname
                                    : "No first name"
                            }}
                        </td>
                        <td>
                            {{
                                rowData?.employee?.surname
                                    ? rowData.employee.surname
                                    : "No surname available"
                            }}
                        </td>
                        <td>
                            {{ rowData.date | date : "dd/MM/yyyy" }}
                        </td>
                        <td>
                            {{ rowData.start_time | date : "h:mm a" }}
                        </td>
                        <td>
                            {{ rowData.end_time | date : "h:mm a" }}
                        </td>
                        <td>
                            {{ rowData.breaks }}
                        </td>
                        <td>
                            {{ rowData.total_hours_worked }}
                        </td>
                        <td>
                            {{ rowData.timesheet_status }}
                        </td>
                        <td>
                            <app-split-button
                                [rowData]="rowData"
                                (actionSelected)="onAction($event)"
                            ></app-split-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-toast />
<p-confirmDialog position="top" rejectButtonStyleClass="p-button-outlined" />
